{%load static%}
<style>
  .logout_sec {
    font-size: 18px;
    margin-right: 20px;
    color: #fff;
  }
</style>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ToDo App</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/flatly.min.css' %}" />
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
        $("#datepicker").datepicker()
      })
    </script>
  </head>
  <body>
    <span class=".logout_sec"> <a href="{% url 'logout' %}">LOGOUT</a> </span>
    <div class="container-fluid" id="wrapper">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4" id="content">
          <h2>What do you want to do today, {{request.user}}?</h2>

          <form action="{% url 'add' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                {{ form.text }} {% comment %}
                <p>Date: <input type="text" id="datepicker" /></p>
                {% endcomment %} {{ form.time }}
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default" id="add-btn">
                    ADD
                  </button>
                </span>
              </div>
            </div>
          </form>

          <div class="row t10">
            <div class="col-lg-12">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a href="{% url 'delete-complete' %}"
                    ><button type="button" class="btn btn-warning">
                      <i class="glyphicon glyphicon-trash"></i> DELETE COMPLETED TASKS
                    </button></a
                  >
                </div>
                <div class="btn-group">
                  <a href="{% url 'delete-all' %}"
                    ><button type="button" class="btn btn-warning">
                      <i class="glyphicon glyphicon-trash"></i> DELETE ALL
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>

          <ul class="list-group t20">
            {% for todo in all_items %} {% if todo.is_complete %}
            <li class="list-group-item todo-completed">{{ todo.text }}</li>
            {% else %}
            <a href="{% url 'complete' todo.id %}">
              <li class="list-group-item">
                {{ todo.text }} &emsp;&emsp;
                <span style="color: red; text-align: right">
                  finish by {{ todo.expected_date }}</span
                >
              </li>
            </a>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
